<h1>Listing invoices</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Description</th>
    <th>String</th>
    <th>Agent</th>
    <th>Employer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.price %></td>
    <td><%= invoice.description %></td>
    <td><%= invoice.string %></td>
    <td><%= invoice.agent %></td>
    <td><%= invoice.employer %></td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
